[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = this is the root repo
[access "refs/*"]
	owner = group user/naveen (kodemuseGit)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/naveen (kodemuseGit)
	label-Verified = -1..+1 group user/naveen (kodemuseGit)
	push = group user/naveen (kodemuseGit)
	read = group user/naveen (kodemuseGit)
	rebase = group user/naveen (kodemuseGit)
	removeReviewer = group user/naveen (kodemuseGit)
	submit = group user/naveen (kodemuseGit)
[access "refs/heads/*"]
	create = group user/naveen (kodemuseGit)
	push = +force group user/naveen (kodemuseGit)
	pushMerge = group user/naveen (kodemuseGit)
	read = group user/naveen (kodemuseGit)
[access "refs/tags/*"]
	push = group user/naveen (kodemuseGit)
	push = +force group user/naveen (kodemuseGit)
